 <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hrd</title>
    <!-- BOOTSTRAP CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
</head>
  <body>

    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
          <div class="col-md-3 mb-2 mb-md-0">

    <!-- LOGO-->
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
              <img class="logo" src="/images/Logo.png" alt="">
            </a>
          </div>
    
        
    <!-- BUTTONS -->
            <div class="col-md-3 text-end">
          <a
            class="btn btn-outline-primary me-2"
            style="background-color:white; border-radius:30px; color:#8F00FF; font-size:16px; text-transform: uppercase; border:none;"
            href="/login"
          >Login</a>
          <a
            class="btn btn-primary signup"
            style="margin-left: 10px; color:white;  border-radius:30px; font-size:16px; border:none; text-transform: uppercase;background-color:#8F00FF;"
            href="/options"
          >Sign-up</a>
        </div>

    <!-- HERO-->
    
    
      <div class="container ">
        <div class="row d-flex justify-content-center align-items-center h-10">
          <div class="col-lg-12 col-xl-11">
            
              <div class="card-body p-md-1">
                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 d-flex justify-content-center align-items-center">
                    <img src="/images/Login.gif"
                      class="img-fluid" alt="Sample image">
                  </div>
                   
                  <div class="col-md-10 col-lg-6 col-xl-5 d-flex align-items-center order-1 order-lg-2 justify-content-center">
                     
     
                    
                    <form class="mx-1 mx-md-4 " action="/login" method="POST">
                      

 <div style="display: flex; align-items: center; margin-bottom: 20px;">
    <div><span style="color: white; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">Don’t have an account? </span><a href="/options" class="signup-link" style="margin-bottom: 20px;">
                          <span style="color: #8F00FF; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word; ">Sign up</span>
                        </a></div>
  </div>
                    
                     <div style="width: 419px; color: white; font-size: 30px; font-family: Inter; font-weight: 700; word-wrap: break-word; margin-bottom: 10px">👋Welcome back</div>
                        <div style="width: 411px; color: white; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 28px; word-wrap: break-word; margin-bottom: 20px">Enter your account details below to gain access to our awesome platform</div>

                      <div class="d-flex flex-row align-items-center mb-2 ">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="email" id="form3Example3c" class="form-control" value="{{email}}" name="email"/>
                          <label style="color:white" class="form-label" for="form3Example3c" >Your Email</label>
                        </div>
                      </div>
    
                      <div class="d-flex flex-row align-items-center mb-2 ">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="password" id="form3Example4c" class="form-control" name="password"/>
                          <label style="color:white" class="form-label" for="form3Example4c">Password</label>
                        </div>
                      </div>
        
    
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
                        <button type="submit" method="POST" style="margin: 0 !important; width: 97%;  font-size:16px; color:white; border:none; text-transform: uppercase;background-color:#8F00FF;border: solid 2px white !important" class="btn btn-primary btn-lg px-4 me-md-2">Login</button>
                       
                      </div>
                      <div style="margin-left: 15px; color: white; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">I forgot my password</div>
                    </form>
                    
    
                  </div>
                </div>
              </div>
            </div>
          
        </div>
      </div>
   


    <!-- FOOTER-->
     

    <!-- BOOTSTRAP JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  
    <!-- BOOSTRAP POPPER FOR DROPDOWNS, POPOVERS ETC
    
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    -->

<style>@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Syne:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Inter', sans-serif;
   

}

h1{
    font-family: 'Syne', sans-serif;
    color:#380163;
}

body{
    background: linear-gradient(345deg, #7000FF 0%, #D2F898 100%);
   
    flex-shrink: 0;
}

  .btn:hover{
    transform: scale(1.1);
  }
  
  .signup-link {
    text-decoration: none;
  }
  
  .signup-link:hover {
    color: #380163;
  }
  
  
  
  
  
  
  .error { color: #d8000c; background-color: #ffbaba; width: fit-content;
      padding: 2px;
      margin-top: 20px;
      margin-left: 10px;
      border-radius: 5px;
     
      }
 </style>

  
</body>
</html>

<script>
function isJobseeker(req, res, next) {
  const currentUser = req.session.currentUser;
  if (currentUser && currentUser.isJobseeker) {
    return next(); 
  } else {
    res.redirect("/mainpage"); 
  }
}


function isCompany(req, res, next) {
  const currentUser = req.session.currentUser;
  if (currentUser && !currentUser.isJobseeker) {
    return next(); 
  } else {
    res.redirect("/main"); 
  }
}
</script>