<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div
      class="container-fluid text-center"
      style="padding-top: 130px; padding-bottom: 130px"
    >
      <div>
        <h1>
          Choose your Option:
        </h1>
        <div class="d-grid gap-2 col-6 mx-auto" style="padding-top: 25px;">
          <a href="" style="text-decoration: none;"><button
              class="btn btn-primary d-grid gap-2 col-6 mx-auto"
              type="button"
            >Job Seeker
            </button></a>
            <div class="d-grid gap-2 col-6 mx-auto" style="padding-top: 25px;">
          <a href="" style="text-decoration: none;"><button
              class="btn btn-primary d-grid gap-2 col-6 mx-auto"
              type="button"
            >Job Recruiter
            </button></a>
        </div>
      </div>
    </div>
</body>
</html>

