
</div> 
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hrd</title>
    <!-- BOOTSTRAP CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    
</head>
  <body>

    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-md-start py-3 mb-4 border-bottom">
          <div class="col-md-5 mb-2 mb-md-0">

    <!-- LOGO-->
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
              <img class="logo" src="image/Logo.png" alt="">
            </a>
          </div>
    
        
    <!-- BUTTONS -->
     <div class="col-md-4 text-end">
      <div style="width: 100%; height: 100%; justify-content: flex-start; gap: 60px; display: inline-flex">
        <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
            <div style="color: #380163; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word"><a class="link" style="color: #8F00FF; text-decoration:none;" href="/mainpage">Explore</a></div>
            <div style="align-self: stretch; height: 0px; opacity: 0; border: 0.50px #380163 solid"></div>
        </div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
          <div style=" width: 140px; color: #380163; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word"><a class="link" style="color: #8F00FF; text-decoration:none;" href="/jobsapplied">Your applications</a></div>
          <div style="align-self: stretch; height: 0px; opacity: 0; border: 0.50px #380163 solid"></div>
        </div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
          <div style="color: #380163; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word"><a class="link"  style="color: #8F00FF; text-decoration:none;" href="">Favourites</a></div>
          <div style="align-self: stretch; height: 0px; opacity: 0; border: 0.50px #380163 solid"></div>
        </div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
            <div style="color: #380163; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word"><a class="link" style="color: #8F00FF; text-decoration:none;" href="/userProfile/edit">Account</a></div>
            <div style="align-self: stretch; height: 0px; opacity: 0; border: 0.50px #380163 solid"></div>
        </div>
         <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
       <div style="color: #380163; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
    <div style="color: #380163; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
    
    
        
      <form id="logout-form" action="/logout" method="POST">
        <a class="link" style="color:#8F00FF; text-decoration:none;" href="#" id="logout-link">Logout </a>
      </form>
      
    <script>
        document.getElementById("logout-link").addEventListener("click", function(event) {
        event.preventDefault();
        document.getElementById("logout-form").submit();
        });
    </script>
</div>

</div>

        <div style="align-self: stretch; height: 0px; opacity: 0; border: 0.50px #380163 solid"></div>
    </div>
  </div>
  </div>
</header>
</div>

      <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-md-start py-3 mb-4 border-bottom">
          <div class="container">
            <h1 class="mt-4 mb-4">Job Applicants</h1>
        </div>
        </header>
    </div>
    

    <!-- HERO-->
    <nav style="width: 30%; margin-left: 30px;" class="d-flex justify-content-md-start">
      <form class="form-inline">
        <div class="input-group">
          
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button style="font-size:16px; color:white; border:none; text-transform: uppercase;background-color:#8F00FF;" class="btn btn-outline-success" type="submit">Search</button>
        </div>
      </form>
    </nav>
    
    
<div class="job-list">
   <div class="job-item" style="background: none;">
    <div class="job-detail">FIRST NAME</div>
    <div class="job-detail">LAST NAME</div>
    <div class="job-detail">EMAIL</div>
     <button class="btn btn-outline-success" type="submit" style="background: none;">
        <a style="opacity: 0;">OPEN</a>
      </button>
    
  </div>
 </div>


    
  
    
  <div class="job-list">
 {{#each downloadLinks}}
    <div class="job-item">
      <div class="job-detail"> {{applicant.firstName}}</div>
      <div class="job-detail">{{applicant.lastName}}</div>
      <div class="job-detail"> {{applicant.email}}</div>
   
      <button class="btn btn-outline-success" type="submit">
        <a href="{{applicant.cv}}" download style="color:white;text-decoration:none">Download CV</a>
      </button>
    </div>
  {{/each}}
</div>
<style>.job-list {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.job-item {
  width: 100%; 
  margin: 10px auto;
  padding: 16px;
  background: white;
  border-radius: 8px;
  border-bottom: 0.50px #D9D9D9 solid;
  display: flex;
  align-items: center;
}

.job-detail {
  width: 300px;
  color: #380163;
  font-size: 16px;
  font-family: Syne;
  font-weight: 700;
  line-height: 35.20px;
  word-wrap: break-word;
  margin-right: 10px; 
}

.btn-outline-success {
  font-size: 16px;
  color: white;
  border: none;
  text-transform: uppercase;
  background-color: #8F00FF;
}</style>

      </div>
 </div>
      





    <!-- BOOTSTRAP JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  
    <!-- BOOSTRAP POPPER FOR DROPDOWNS, POPOVERS ETC
    
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    -->

</body>
</html>

<style>@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Syne:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Inter', sans-serif;
   

}

h1{
    font-family: 'Syne', sans-serif;
    color:#380163;
}

body{
    background: linear-gradient(6deg, #FFF 0%, #e1baff 100%);
padding-top: 0;
    flex-shrink: 0;
}

  .btn:hover{
    transform: scale(1.1);
  }
  .link:hover{
    font-weight: bold;
  }
 
</style>

</body>
</html>


