<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body style="padding:0">
    <div style="width: 1512px; height: 982px; background: white; box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.10); border-radius: 18px; overflow: hidden; flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex">
  <div style="align-self: stretch; height: 56px; padding-left: 24px; padding-right: 24px; padding-top: 4px; padding-bottom: 4px; background: white; border-top-left-radius: 16px; border-top-right-radius: 16px; justify-content: space-between; align-items: center; gap: 72px; display: inline-flex">
    <div style="width: 152px; justify-content: flex-start; align-items: center; gap: 24px; display: flex">
      <div style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="width: 12px; height: 12px; background: #ED6B5D; border-radius: 9999px"></div>
        <div style="width: 12px; height: 12px; background: #F4BE50; border-radius: 9999px"></div>
        <div style="width: 12px; height: 12px; background: #61C554; border-radius: 9999px"></div>
      </div>
      <div style="width: 76px; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
        <div style="width: 32px; height: 32px; position: relative">
          <div style="width: 8.91px; height: 16px; left: 11.40px; top: 8px; position: absolute; background: #8C8C8C"></div>
        </div>
        <div style="width: 32px; height: 32px; position: relative">
          <div style="width: 8.91px; height: 16px; left: 11.40px; top: 8px; position: absolute; background: rgba(0, 0, 0, 0.10)"></div>
        </div>
      </div>
    </div>
    <div style="width: 640px; height: 28px; padding-left: 8px; padding-right: 8px; padding-top: 4px; padding-bottom: 4px; background: #F1F1F1; border-radius: 8px; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
      <div style="flex: 1 1 0; height: 24px; justify-content: center; align-items: center; gap: 4px; display: flex">
        <div style="width: 24px; height: 24px; position: relative">
          <div style="width: 8.26px; height: 12px; left: 7.80px; top: 6px; position: absolute; background: #8C8C8C"></div>
        </div>
        <div style="text-align: center; color: #202124; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 18px; word-wrap: break-word">HRD.COM</div>
      </div>
      <div style="width: 24px; height: 24px; position: relative">
        <div style="width: 9.74px; height: 12px; left: 7.05px; top: 6px; position: absolute; background: #8C8C8C"></div>
      </div>
    </div>
    <div style="width: 84px; justify-content: flex-start; align-items: center; gap: 20px; display: flex">
      <div style="width: 32px; height: 32px; position: relative">
        <div style="width: 12.58px; height: 16px; left: 9.80px; top: 8px; position: absolute; background: #8C8C8C"></div>
      </div>
      <div style="width: 32px; height: 32px; position: relative">
        <div style="width: 16px; height: 16px; left: 8px; top: 8px; position: absolute; background: #8C8C8C"></div>
      </div>
    </div>
  </div>
  <div style="width: 1512px; height: 926px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
    <div style="width: 1512px; height: 926px; background: linear-gradient(11deg, white 0%, #8F00FF 100%)"></div>
    <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 93px; display: inline-flex">
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 120px; display: flex">
        <div style="justify-content: center; align-items: center; gap: 558px; display: inline-flex">
          <div style="justify-content: center; align-items: center; gap: 18px; display: flex">
            <div style="width: 35.11px; height: 33.63px; position: relative">
              <div style="width: 33.63px; height: 33.63px; left: 0px; top: 0px; position: absolute; background: #7000FF; box-shadow: -5.076705455780029px -2.5383527278900146px 7.615057945251465px rgba(0, 0, 0, 0.40) inset; border-radius: 9999px"></div>
              <img style="width: 34.07px; height: 24.16px; left: 1.04px; top: 4.32px; position: absolute; box-shadow: -5.076705455780029px 3.172940969467163px 2.5383527278900146px rgba(0, 0, 0, 0.25) inset" src="https://via.placeholder.com/34x24" />
            </div>
            <div><span style="color: black; font-size: 32px; font-family: Syne; font-weight: 700; line-height: 44px; word-wrap: break-word">Hr</span><span style="color: #7000FF; font-size: 32px; font-family: Syne; font-weight: 700; line-height: 44px; word-wrap: break-word">d</span></div>
          </div>
          <div style="justify-content: flex-end; align-items: center; gap: 64px; display: flex">
            <div style="justify-content: flex-start; align-items: flex-start; gap: 64px; display: flex">
              <div style="color: #380163; font-size: 16px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 35.20px; letter-spacing: 0.64px; word-wrap: break-word">Home</div>
              <div style="color: #380163; font-size: 16px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 35.20px; letter-spacing: 0.64px; word-wrap: break-word">Item 2</div>
              <div style="color: #380163; font-size: 16px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 35.20px; letter-spacing: 0.64px; word-wrap: break-word">Item 3</div>
            </div>
            <div style="justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
              <div style="padding-left: 24px; padding-right: 24px; padding-top: 4px; padding-bottom: 4px; background: #8F00FF; border-radius: 64px; justify-content: center; align-items: center; gap: 8px; display: flex">
                <        <a class="nav-link" style="color: white; font-size: 16px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 35.20px; letter-spacing: 0.64px; word-wrap: break-word"href="/login">SIGN UP</a>
              </div>
              <div style="padding-left: 24px; padding-right: 24px; padding-top: 4px; padding-bottom: 4px; background: white; border-radius: 64px; justify-content: center; align-items: center; gap: 8px; display: flex">
                <a class="nav-link"style="color: #8F00FF; font-size: 16px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 35.20px; letter-spacing: 0.64px; word-wrap: break-word"href="/login">Log in</a>
              </div>
            </div>
          </div>
        </div>
        <div style="width: 1272px; height: 557px; position: relative">
          <div style="width: 1272px; height: 557px; left: 0px; top: 0px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 127px; display: inline-flex">
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
              <div style="width: 596px; color: #380163; font-size: 80px; font-family: Syne; font-weight: 700; line-height: 61.60px; word-wrap: break-word">Work smarter,<br/>not harder. </div>
              <div style="width: 460px; color: #380163; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">Our team at Hrd takes the load off job hunting. No spam. <br/>No junk mail. No recruiters stalking you.  You’re in the driver seat and you decide which jobs you want to hear more <br/>about. Interested? </div>
              <div style="padding-left: 32px; padding-right: 32px; padding-top: 16px; padding-bottom: 16px; background: #8F00FF; border-radius: 64px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
                <div style="color: white; font-size: 16px; font-family: Inter; font-weight: 700; text-transform: uppercase; line-height: 35.20px; letter-spacing: 0.64px; word-wrap: break-word">SIGN UP TODAY</div>
              </div>
            </div>
            <div style="width: 549px; height: 557px; position: relative">
              <div style="width: 527.24px; height: 557px; left: 21px; top: 0px; position: absolute; opacity: 0.10; background: #8F00FF"></div>
              <img style="width: 549px; height: 549px; left: 0px; top: 7px; position: absolute" src="https://via.placeholder.com/549x549" />
            </div>
          </div>
          <div style="width: 281px; height: 27px; left: 161px; top: 151px; position: absolute; border: 1.50px #D2F898 solid"></div>
        </div>
      </div>
      <div style="width: 865.46px; opacity: 0.20; justify-content: center; align-items: center; gap: 81.52px; display: inline-flex">
        <div style="width: 96.70px; height: 31.94px; position: relative">
          <div style="width: 23.85px; height: 24.79px; left: 0px; top: 0px; position: absolute; background: #380163"></div>
          <div style="width: 3.47px; height: 23.45px; left: 76.97px; top: 0.85px; position: absolute; background: #380163"></div>
          <div style="width: 15.81px; height: 15.96px; left: 25.03px; top: 8.84px; position: absolute; background: #380163"></div>
          <div style="width: 15.79px; height: 15.95px; left: 42.23px; top: 8.83px; position: absolute; background: #380163"></div>
          <div style="width: 15.11px; height: 23.11px; left: 59.38px; top: 8.83px; position: absolute; background: #380163"></div>
          <div style="width: 14.55px; height: 15.96px; left: 82.15px; top: 8.82px; position: absolute; background: #380163"></div>
        </div>
        <div style="width: 118.36px; height: 23.18px; background: #380163"></div>
        <div style="width: 108.98px; height: 24.37px; position: relative">
          <div style="width: 34.81px; height: 24.37px; left: 0px; top: 0px; position: absolute; background: #380163"></div>
          <div style="width: 70.87px; height: 22.13px; left: 38.12px; top: 0.84px; position: absolute">
            <div style="width: 70.87px; height: 22.13px; left: 0px; top: 0px; position: absolute; background: #380163"></div>
            <div style="width: 10.09px; height: 21.05px; left: 30.17px; top: 0.77px; position: absolute; background: #380163"></div>
          </div>
        </div>
        <div style="width: 122.18px; height: 29.61px; background: #380163"></div>
        <div style="width: 93.81px; height: 31.31px; background: #380163"></div>
      </div>
    </div>
  </div>
</div>
    
      <div>
        <h1>
          SEEK FOR A JOB!
        </h1>
        <div class="d-grid gap-2 col-6 mx-auto" style="padding-top: 25px;">
          <a href="/options" style="text-decoration: none;" method="GET"><button
              class="btn btn-primary d-grid gap-2 col-6 mx-auto"
              type="button"
            >Sign Up
            </button></a>
        </div>
      </div>
    </div>

    <div class="container-fluid text-center">
      <div class="row align-items-start">
        <div class="col">
          <h3>About Us</h3>
          <br />
          <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        </div>
        <div class="col">
          Our Mision
        </div>
        <div class="col">
          Contact Us
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>