
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hrd</title>
    <!-- BOOTSTRAP CSS-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

  </head>
  <body>

    <div class="container">
      <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
      >
        <div class="col-md-3 mb-2 mb-md-0">

          <!-- LOGO-->
          <a
            href="/"
            class="d-inline-flex link-body-emphasis text-decoration-none"
          >
            <img class="logo" src="/images/Logo.png" alt="" />

          </a>
        </div>

        <!-- BUTTONS -->
        <div class="col-md-3 text-end">
          <a
            class="btn btn-outline-primary me-2"
            style="background-color:white; border-radius:30px; color:#8F00FF; font-size:16px; text-transform: uppercase; border:none;"
            href="/login"
          >Login</a>
          <a
            class="btn btn-primary signup"
            style="margin-left: 10px; color:white;  border-radius:30px; font-size:16px; border:none; text-transform: uppercase;background-color:#8F00FF;"
            href="/options"
          >Sign-up</a>
        </div>

      </header>
    </div>

    <!-- HERO-->
    <div class="container col-xxl-8 px-4 py-1">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-1">
        <div class="col-10 col-sm-8 col-lg-6">
          <img
            src="/images/hero2.gif"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-lg-6" style="margin-top:10px">
          <h1
            style="color:#380163 !important"
            class="display-5 fw-bold text-body-emphasis lh-1 mb-3"
          >Work smarter, not harder. </h1>
          <p style="color:#380163;font-size:16px;" class="lead">Our team at Hrd
            takes the load off job hunting. No spam. No junk mail. No recruiters
            stalking you. You’re in the driver seat and you decide which jobs
            you want to hear more about. Interested?
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">

            <a
              style=" border-radius:30px; font-size:16px; color:white; border:none; text-transform: uppercase;background-color:#8F00FF;"
              class="btn btn-primary btn-lg px-4 me-md-2"
              href="/options"
            >SIGN UP TODAY</a>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER-->
    <div class="container text-center" style="opacity:0.3;">
      <div class="row">
        <div class="col">
          <img src="/images/facebook.png" alt="" />
        </div>
        <div class="col">
          <img src="/images/google.png" alt="" />
        </div>
        <div class="col">
          <img src="/images/pinterest.png" alt="" />
        </div>
        <div class="col">
          <img src="/images/youtube.png" alt="" />
        </div>
        <div class="col">
          <img src="/images/twitch.png" alt="" />
        </div>
      </div>
    </div>

    <style>
      @import
url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
      @import
url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Syne:wght@400;500;600;700;800&display=swap');
      *{ font-family: 'Inter', sans-serif; } h1{ font-family: 'Syne',
      sans-serif; color:#380163; } body{ background: linear-gradient(6deg, #FFF
      0%, #e1baff 100%); flex-shrink: 0; padding: 0px; } .btn:hover{ transform:
      scale(1.1); }

      
    </style>

    <!-- BOOTSTRAP JS-->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
     
</script>
    

  </body>
</html>